# Compiler & Build files
cache/
out/

# Environment
.env

# Dependencies
node_modules/

# Broadcast & Logs
broadcast/

# Ignore specific files
addLiquidity.js
addUnichainLiquidty.js
unichainproxy.js
swap.js
proxydeploy.js
standard-input.json
V4LiquiditySystem.sol
00_DeployHookScript.s.sol

# System files
.DS_Store
*.log